<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.aboluo.com">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!-- 发送短信-->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- 阅读消息 -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- 写入消息 -->
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <!-- 接收消息 -->
    <uses-permission android:name="android.prmission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.aboluo.XUtils.BaseApplication"
        android:allowBackup="true"
        android:configChanges="keyboard"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        tools:replace="android:icon, android:theme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
        <activity android:name=".GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".RetrievepwdActivity"></activity>
        <activity android:name=".MyInfoAcitvity"></activity>
        <activity android:name=".OrderActivity"></activity>
        <activity
            android:name=".GoodsDetailActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity android:name=".HeHuoRenActivity"></activity>
        <activity android:name=".MiaoShaActivity"></activity>
        <activity android:name=".OneYuanAcitvity"></activity>
        <activity android:name=".AddressActivity"></activity>
        <activity
            android:name=".AddAddressActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".GoodsListActivity"></activity>
        <activity android:name="com.aboluo.test.AnimationActivtiy">

        </activity>
        <activity android:name=".GoodsDetailImageActivity"></activity>
        <activity android:name="com.aboluo.test.testActivity">

        </activity>
        <activity
            android:name="com.aboluo.Gesture.SecondActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".address.CityAddressActivity"></activity>
        <activity android:name=".address.ProvinceAddressActivity"></activity>
        <activity android:name=".address.RegionAddressActivity"></activity>
        <activity android:name=".address.StreetAddressActivity"></activity>
        <activity android:name=".MakeOrderActivity"></activity>
        <activity android:name=".OrderPayActivity"></activity>
        <activity android:name=".ChooseAddressActivtiy"></activity>
        <activity android:name=".SecKillGoodsDetailActivity"></activity>
        <!--线下测试模式-->
        <activity
            android:name="cn.beecloud.BCMockPayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="cn.beecloud.BCWechatPaymentActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="cn.beecloud.BCWechatPaymentActivity"/>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".SecKillActivity"></activity>
        <!---end-->
    </application>
</manifest>